<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img src="assets/logos/pickaperson_logo_navbar.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
      </a>
      <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-start">

      </div>

      <div class="navbar-end">
        <a [routerLink]="['login']" *ngIf="!authorized" class="navbar-link">Login</a>

        <div *ngIf="authorized" class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            {{currentUser.displayName || currentUser.email}}
          </a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" [routerLink]="['cadastro']">
              Cadastros
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" (click)="logout()">
              Logout
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>