<section class="section">
  <div class="container">
    <h1 class="title">
      Pick a Person
    </h1>
    <p class="subtitle"> Login </p>
  </div>
</section>
<section>
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="hero is-warning" *ngIf="logged()">
          <div class="hero-body">
            <p>Já esta logado(a) |
              <a (click)="logout()" class="is-text">deslogar</a>
            </p>
            <p>&nbsp;</p>
            <form [formGroup]="displayNameForm" novalidate>
              <div class="field has-addons">
                <p class="control">
                  <input class="input" formControlName="displayName" type="text" placeholder="Novo Apelido">
                </p>
                <p class="control">
                  <button (click)="updateUserProfile(displayNameForm.value.displayName)" class="button is-dark">
                    Salvar
                  </button>
                </p>
              </div>
            </form>
          </div>
        </div>
        <form *ngIf="!logged()" [formGroup]="loginForm" novalidate>
          <div class="field">
            <p class="control">
              <input class="input" formControlName="user" type="text" placeholder="Usuário">
            </p>
          </div>
          <div class="field">
            <p class="control">
              <input class="input" formControlName="pass" type="password" placeholder="Senha">
            </p>
          </div>
          <div class="field">
            <p class="control">
              <button (click)="login(loginForm.value.user, loginForm.value.pass)" class="button">
                Login
              </button>
            </p>
          </div>
        </form>
      </div>
      <div class="column">
      </div>
    </div>
  </div>
</section>
