<section class="section">
  <div class="container">

    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <div class="field has-addons">
            <p class="control">
              <input class="input" type="text" placeholder="busque pelo nome">
            </p>
            <p class="control">
              <button class="button is-dark">
                Buscar
              </button>
            </p>
          </div>
        </div>
      </div>
    
      <div class="level-right" *ngIf="logged()">
        <p class="level-item">
          <button (click)="showBox(formBox)" class="button is-warning"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Novo Cadastro</button>
        </p>
      </div>
    </div>

    <div class="hero is-light collapsed" #formBox>
      <div class="hero-body">
        <pessoa-cadastro-form></pessoa-cadastro-form>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="columns">
      <div class="column">
        <cadastro-pessoa-lista></cadastro-pessoa-lista>
      </div>
    </div>
  </div>
</section>