<form [formGroup]="cadastroPessoaForm" novalidate>
  <div class="field is-grouped is-grouped-right">
    <p class="control is-expanded">
      <input class="input" formControlName="nome" type="text" placeholder="Nome">
    </p>
    <p class="control is-expanded">
       <input class="input" formControlName="sobrenome" type="text" placeholder="Sobrenome">
    </p>
    <p class="control">
      <button (click)="submit(cadastroPessoaForm.value)" class="button is-warning">Cadastrar</button>
    </p>
  </div>
</form>